@import '../../general';

.SettingsPage {
  padding: 2rem;
  text-align: center;
  .BackButton {
    @extend .link-clean;
    min-width: 15rem;
    margin: {
      top: .5rem;
      left: 1.5rem;
      right: 1.5rem;
    }
    padding: 1rem;
    display: flex;
    align-items: center;
    box-sizing: content-box;
    text-align: center;
    img {
      width: 2rem;
      height: 2rem;
    }
    span {
      margin: auto;
    }
  }
  h1 {
    color: var(--color-font);
    margin: 1rem;
  }
  h3 {
    color: var(--color-font);
    margin: .5rem;
  }
}