@import '../../../general';

.SettingsItem {
  @extend .link-clean;
  background: var(--color-element);
  border-radius: 1rem;
  min-width: 15rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  text-align: center;
  img {
    width: 2rem;
    height: 2rem;
  }
  span {
    margin: auto;
  }
}