@import '../general';

.IconLink {
  @extend .link-clean;
  width: 2rem;
  height: 2rem;
  img {
    width: 2rem;
    height: 2rem;
    transform: scale(85%);
    filter: grayscale(1);
    transition: all 300ms ease;
  }
  &.active img {
    transform: scale(100%);
    filter: grayscale(0);
  }
}